# Blender backup files
*.blend1

# Addon zip files
*.zip

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings (optional - remove this line if you want to include VS Code settings)
.vscode/

# Temporary files
*.tmp
*.temp

# Tools
*.ps1
*.html
